*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared style */

main >section{
    margin-top: 130px;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Dark 1 */
.text-dark-gray{
    color: #131313;
}

/* Dark 2 */
.text-gray{
    color: #424242;
}

/* Dark 3 */
.text-light-gray{
    color: #727272;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.btn{
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

/* main style */
header{
    padding-top: 50px;
    padding-bottom: 45px;
}


/* navbar related style */
nav{
    justify-content: space-between;
}

.brand{
    font-size: 2.8125rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    gap: 30px;
}

.nav-link{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}


/* hero related style */
.hero{
    padding-top: 116px;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.hero-heading{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.hero-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}

.hero .btn{
    margin-bottom: 50px;
}


/* features style */

.features{
    justify-content: space-between;
    align-items: center;
}

.features-imgs{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.features-title{
    margin-left: 70px;
}

.features-heading{
    font-size: 2.8125rem;
    font-weight: 700;
    color: #FF900E;
    margin-bottom: 24px;
}

.features-heading .text-light-gray{
    font-weight: 500;
}

.features-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}



/* about section style */

.about{
    justify-content: space-between;
    gap: 146px;
}

.about-title{
    font-size: 2.8125rem;
    font-weight: 800;
    margin-bottom: 24px;
}

#about-title-padding{
    padding-left: 10px;
    border-left: 7px solid #FF900E;
}

.about-description{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 30px;
}

.card-info{
    padding: 30px 42px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(255, 0, 0, 0.06);
}

.card-heading{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-description{
    font-size: 1rem;
    line-height: 26px;
}

#badge{
    background-color:#FF900E ;
    border-radius: 8px;
    padding: 45px 40px;
    color: white;
    border: none;
    margin-left: -77px;
    margin-top: -125px;
}

.years{
    font-size: 4.0625rem;
    line-height: 70px;
    font-weight: 700;
}


.experience{
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 40px;
}



/* facts related style */


.facts-heading{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 100px;
}

.facts-card{
    justify-content: space-around;
}

.facts-card-info{
    border: 1px solid #FF900E;
    padding: 50px 35px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.facts-card-info img{
    max-width: 45px;
    margin-bottom: 10px;
}
.facts-card-info h3{
    font-size:2.8125rem ;
    font-weight: 600;
    margin-bottom: 5px;
}

.facts-card-info p{
    font-size: 1.25rem;
    font-weight: 600;

}


/* sponsor section */

.sponsors-title{
    text-align: center;
}

.sponsors-heading{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsors-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 50px;
}


.sponsors-companies{
    justify-content: space-between;
}

.sponsor-img{
    filter: grayscale(100%);
}


/* footer section design */
footer {
    margin:130px auto;
    max-width: 1440px;

}
.footer-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.copyright{
    font-size: 1.25rem;
    text-align: center;

}

/* phone responsive style */
@media screen and (max-width:576px) {

    /* shared style */
.max-width{
    margin: 10px;
}
main > section{
    margin-top: 60px;
}

.about,
nav,
.features{
    flex-direction: column;
}

/* navbar & hero section */

header{
    padding-top: 30px;
    padding-bottom: 20px;
}

.brand{
    font-size: 1.25rem;
    font-weight: bold;
}

nav{
        align-items: center;
        gap: 20px;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.hero{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.hero-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.hero .btn{
    margin-bottom: 30px;
}


.image{
    width: 100%;
}

.btn{
    padding: 15px 20px;
    font-size: 1rem;
}

/* features section design */
.features{
    margin-top: 60px;
}



.features-imgs{
    grid-template-columns: repeat(1, 1fr);
}

.features-title{
    margin-top: 30px;
}

.features-heading{
    font-size: 2rem;
    margin-bottom: 20px;
}

.features-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 25px;
}

/* about section style */
.about-img img{
    max-width: 100%;
}

.about{
    flex-direction: column;
    gap: 30px;
}

#badge{
    padding: 45px 40px;
    margin: 0 auto;
    display: block;
}

.years{
    font-size: 3rem;
    line-height: 30px;
    font-weight: 700;
}


.experience{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}



/* facts section style */
.facts-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.facts-description{
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 60px;
}

.facts-card{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}



/* sponsor section design */

.facts-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.facts-description{
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 80px;
}

.facts-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.facts-card-info h3{
    font-size:2rem ;
}

.facts-card-info p{
    font-size: 1rem;

}

.sponspors-heading{
    font-size: 2rem;
    margin-bottom: 20px;
}

.sponsors-description{
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 30px;
}

.sponsors-companies{
    display: grid;
    text-align: center;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
}


/* footer section design */
footer {
    margin-top:80px;

}
.footer-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

}