*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared style */

main >section{
    margin-top: 130px;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Dark 1 */
.text-dark-gray{
    color: #131313;
}

/* Dark 2 */
.text-gray{
    color: #424242;
}

/* Dark 3 */
.text-light-gray{
    color: #727272;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}
.btn{
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}
/* main style */

header{
    padding-top: 50px;
    padding-bottom: 45px;
}

/* navbar related style */
nav{
    justify-content: space-between;
}

.brand{
    font-size: 2.8125rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    gap: 30px;
}

.nav-link{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}


/* hero related style */
.hero{
    padding-top: 116px;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.hero-heading{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.hero-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}

.hero .btn{
    margin-bottom: 50px;
}



/* phone responsive style */
@media screen and (max-width:576px) {
    
.max-width{
        margin: 10px;
}

header{
    padding-top: 30px;
    padding-bottom: 20px;
}

.brand{
    font-size: 1.25rem;
    font-weight: bold;
}

nav{
        flex-direction: column;
        align-items: center;
        gap: 20px;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.hero{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.hero-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.hero .btn{
    margin-bottom: 30px;
}


.image{
    width: 100%;
}

.btn{
    padding: 15px 20px;
    font-size: 1rem;
}

}

/* Tablet responsive style */
@media screen and (min-width:577px) and (max-width:992px) {
    .max-width{
        margin: 20px;
}

    header{
    padding-top: 30px;
    padding-bottom: 20px;
}

    .brand{
    font-size: 2rem;
    font-weight: bold;
}
    .hero{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.hero-heading{
    font-size: 3rem;
}
.hero .btn{
    margin-bottom: 30px;
}
.image{
    width: 100%;
}
.btn{
    padding: 15px 20px;
    font-size: 1rem;
}

}